<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="assets/main.css">
    <script src="/../vendor/components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="assets/main.js" type="text/javascript"></script>
</head>
<body>


    <div class="bot">
        <h2>{{ title }}</h2>

        <div class="bot__messages">
            <div class="bot__messages__empty"></div>

            <div class="bot__messages_list">
                <div class="message-item message-item--received">
                    <div class="message">
                        <span class="message__label">{{ name }}</span>
                        <span class="message__text">Hello!</span>
                    </div>
                </div>
                {% for msg in message %}
                    {% for key,mes in msg %}
                        {% if key == 'bot' %}
                            <div class="message-item message-item--received">
                                <div class="message">
                                    <span class="message__label">Bot</span>
                                    <span class="message__text">{{ mes }}</span>
                                </div>
                            </div>
                        {% else %}
                            <div class="message-item message-item--sent">
                                <div class="message">
                                    <span class="message__text">{{ mes }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div class="bot__form">
            <input class="bot__form__input" type="text" name="message" id="message">
            <button class="bot__form__button" type="button submit" id="submit">Send</button>
        </div>

        <div class="inbenta-powered">
            <a href="http://www.inbenta.com" target="_blank" class="inbenta-powered__link"></a>
        </div>
    </div>

</body>
</html>
